
QGroupBox{
    color: #000000;
    border: 1px solid #666666;
    background-color: #FFFFFF;
    border-radius: 10%;
    margin-top: 0.8em;
    font-weight: bold;
}

QGroupBox#StatusGroupBox:disabled {
    color: #BBB9BB;
}

QGroupBox::title {
    top: -1.25em;
    left: 8px;
}

QGroupBox#StatusGroupBoxRed{
    border: 1px solid #BF0F0F;
    font: 8pt;
    font-weight: bold;
}

QGroupBox#StatusGroupBoxGreen{
    border: 1px solid #40C12C;
    font: 8pt;
    font-weight: bold;
}

QLabel {
    font: 9pt;
}